<div class="root3">
    <div class="entranceWrapperReg entranceWrapper">
        <form onsubmit="return false" class="entranceForm">
            <input 
                type="email" 
                name="" id="entranceEmail" 
                class="formFactor" 
                required="true" 
                placeholder="Email"
            >
            <input 
                type="password" 
                name="" id="entrancePassword" 
                class="formFactor" 
                required="true" 
                placeholder="Password"
                autocomplete="current-password"
            >
            <div class="entranceButtons">
                <input 
                    type="submit" 
                    value="Entrance"
                    class="butt"
                >
            </div>
        </form>
        <img 
            src="../../../assets/png/backSVG.svg" 
            alt="getBack" 
            class="backEntranceMark"
        >
        <img 
            src="../../../assets/png/eye-disible.svg" 
            alt="showPasswprd" 
            class="eye3">
    </div>
</div>